---
import DefaultTemplate from "../components/DefaultTemplate/DefaultTemplate.astro";
---

<DefaultTemplate title="Root" metaDescription="This is the root page of the Astro site.">
  <p>Hey ...</p>
</DefaultTemplate>
